﻿@model IEnumerable<CarMarket.Models.Car>
@{
    //ViewData["Title"] = "Список Car";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Car Market</title>
</head>
<body>
    <h3>cars</h3>
    <table>
        <tr>
            <td>Model</td>
            <td>Manufacturer</td>
            <td>Country</td>
            <td>Price</td>
            <td></td>

        </tr>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Name</td>
                <td>@car.Company</td>
                <td>@car.Country</td>
                <td>@car.Price</td>
                <td><a href="~/Home/Buy/@car.Id">Buy</a></td>
            </tr>

        }
    </table>
</body>
</html>
